{% extends "a_layout.html" %}
{% block content %}

<script type="text/javascript">
	function Input_Check(){
	  var flag = true;
	  if (todo_form.todo_id.value == ""){
	    alert("『ID』を入力してください");
	    flag = false;
	  };
	  if (todo_form.todo.value == ""){
	    alert("『ToDo』を入力してください");
	    flag = false;
	  };
	  return flag;
	}
</script>

<div class="container-fluid">
	
	<form action="a_todo_master_update" method="POST" name="todo_form" >
		<table class="table">
			<tr><td>ID          </td><td><input type="text" 	 class="form-control" name="todo_id"                          value="{{todo.todo_id}}"     ></td></tr>
			<tr><td>後続ID      </td><td><input type="text" 	 class="form-control" name="next_todo_id"                     value="{{todo.next_todo_id}}"></td></tr>
			<tr><td>ToDoタイトル</td><td><textarea name="todo" class="form-control"                     rows="1"  cols="100" value="{{todo.todo}}"        >{{todo.todo}}</textarea></td></tr>
			<tr><td>ToDo詳細    </td><td><textarea 						 class="form-control" name="todo_details" rows="10" cols="100" value="{{todo.todo_details}}">{{todo.todo_details}}</textarea></td></tr>
		</table>
		<p><button type="submit" onClick="return Input_Check();" class="btn btn-primary">更新</button></p>
	</form>
	
	<p><button onClick="func_delete()" 				  class="btn btn-primary">削除</button></p>
	
	<p><button onClick="window.history.back();" class="btn btn-primary">戻る</button></p>

	<script type="text/javascript">
	  function func_delete() {
	    if (window.confirm('本当に削除しますか？')) {
				location.href='a_todo_master_delete?todo_id={{todo.todo_id}}'
	    }
	  }
	</script>
</div>

{% endblock %}

