{% extends "a_layout.html" %}
{% block content %}

<script type="text/javascript">
	function Input_Check(){
	  var flag = true;
	  if (user_form.email.value == ""){
	    alert("『メールアドレス』を入力してください");
	    flag = false;
	  };
	  if (user_form.name.value == ""){
	    alert("『名前』を入力してください");
	    flag = false;
	  };
	  return flag;
	}
</script>

<div class="container-fluid">
	<form action="a_user_master_update" method="POST" name="user_form">
		
		<table class="table" style="width:600px;">
			<tr><td style="width:200px;">ID（変更不可）</td><td><input type="text"     class="form-control" name="id"       value="{{user.id}}" readonly></td></tr>
			<tr><td>名前          </td><td><input type="text"     class="form-control" name="name"     value="{{user.name}}"       ></td></tr>
			<tr><td>Email         </td><td><input type="text"     class="form-control" name="email"    value="{{user.email}}"      ></td></tr>
			<tr><td>パスワード    </td><td><input type="password" class="form-control" name="password" value="{{user.password}}"   ></td></tr>
			<tr>
				<td>ロール</td>
				<td>
					<select name="role" class="form-control">
					{% if user.role == 'メンティ' %}
						<option value="メンティ" selected>メンティ</option>
						<option value="メンター"         >メンター</option>
					{% else %}
						<option value="メンティ"         >メンティ</option>
						<option value="メンター" selected>メンター</option>
					{% endif %}
					</select>
				</td>
			</tr>
			<tr><td>Twitterアカウント名</td><td><input type="text" class="form-control" name="twitter"   value="{{user.twitter}}"  ></td></tr>
			<tr><td>Twitterフォロワー数</td><td><input type="text" class="form-control" name="followers" value="{{user.followers}}"></td></tr>
		</table>
		
		<p><button type="submit" onClick="return Input_Check();" class="btn btn-primary">ユーザーマスタを更新する</button></p>
	</form>
	
	<script type="text/javascript">
		function func_delete() {
			if (window.confirm('本当に削除しますか？')) {
				location.href='a_user_master_delete?email={{user.email}}';
			}
		}
	</script>
	
	<p><button onClick="func_delete();" 				class="btn btn-primary">削除</button></p>
	
	<p><button onClick="window.history.back();" class="btn btn-primary">戻る</button></p>
	
</div>

{% endblock %}

