{% extends "u_layout.html" %}
{% block content %}

<div class="container-fluid">

<h3>パスワード更新エラー</h3>

<p>詳細：{{error}}</p>

<h3>パスワード変更</h3>

<form action="login_password_change_go" method="POST">
	<p><input type="text"     name="email"        placeholder="ID（メールアドレス）"></p>
	<p><input type="text"     name="password_old" placeholder="古いパスワード"></p>
	<p><input type="text"     name="password_new" placeholder="新しいパスワード"></p>
	<p><button type="submit" class="btn btn-primary">パスワード変更する</button></p>
</form>

</div>

{% endblock %}

